body{
	font-family: 'Handlee', cursive;
}
span.badge {
	position: relative;
	color: #fff;
	right: 0;
}
.points{
	padding: 0;
	background-color: #2bbbad;
	display: none;
}
.brand-logo{
	background: url(logo4.png) no-repeat top left;
	background-size: contain;
    height: 55px;
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
}
li{
	font-size: 1.3em;
}
