<template name='lesson1'>

	{{#if teach}}
		{{> teach1}}
	{{else}}
		{{#if test}}
			{{> test1}}
		{{else}}
			{{#if done}}
				{{> done1}}
			{{/if}}
		{{/if}}

	{{/if}}


</template>

<template name='teach1'>


      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{card.content.image}}">
              <span class="card-title black-text"><strong>{{card.content.title}}</strong></span>
            </div>
            <div class="card-content">
              {{#if card.content.english}}
              	<p>English: <span class='blue text'>{{card.content.english}}</span></p>
              {{/if}}
              {{#if card.content.spanish}}
              	<p>Spanish: <span class='orange text'>{{card.content.spanish}}</span></p>
              {{/if}}
              <br>
              <p> {{card.content.text}} </p>
            </div>
            <div class="card-action">
              <button id='cardContinue' class ='btn btn-flat white blue-text'>Continue</button>
            </div>
          </div>
        </div>
      </div>

</template>

<template name='test1'>
	<p> {{question.question}} </p>
	{{#if equals question.type 'handwriting'}}
		{{> handwriting}}

	{{else}}
		{{#if equals question.type 'speech'}}
			{{> speech}}
		{{/if}}
	{{/if}}
	<button id='checkAnswer' class="waves-effect waves-white white btn blue-text" value='Check Answer'>Check Answer</button>

		
	<!-- text input -->



<!--

{{#if equals question.type 'handwriting'}}

	{{/if}}

	remove lesson template

	write out in Spanish "man"

	write out in Spanish "the car loves the man"



-->


</template>

<template name='done'>

Congratulations! You have finished the first lesson.


</template>


<!--




-->