<template name='lesson1'>

	{{#if teach}}
		{{> teach1}}
	{{else}}
		{{#if test}}
			{{> test1}}

		{{/if}}

	{{/if}}


</template>

<template name='teach1'>


      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="img/man.jpg">
              <span class="card-title">el hombre</span>
            </div>
            <div class="card-content">
              <p>English: <span class='blue text'>man</span></p>
              <p>Spanish: <span class='orange text'>hombre</span></p>
            </div>
            <div class="card-action">
              <a>Continue</a>
            </div>
          </div>
        </div>
      </div>

<ul>
	<li>The word for "man" in Spanish is "hombre". [[play "hombre" in spanish] and have replay button.]</li>
	<li>The word for "car" is "auto"</li>
	<li>The word for "the" (for masculine nouns such as "hombre" or "auto" is "el". So "the car" is "el auto"</li>
	<li>"[a noun] loves" is "ama", where [a noun] would be for example 'hombre'</li>
	<li>So to say "the man loves the car", you would say "el hombre ama el auto"</li>
</ul>

</template>

<template name='test1'>
	<p> {{question.question}} </p>
	{{#if equals question.type 'handwriting'}}
		{{> handwriting}}
	{{/if}}
	<button id='checkAnswer' class="waves-effect waves-white white btn blue-text" value='Check Answer'>Check Answer</button>

		
	<!-- text input -->



<!--

{{#if equals question.type 'handwriting'}}

	{{/if}}

	remove lesson template

	write out in Spanish "man"

	write out in Spanish "the car loves the man"



-->


</template>


<!--




-->